<div>
    <div>
        <h2>Login</h2>
    </div>
    <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameInput">
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" id="passwordInput" rows="3">
    </div>
    <button type="submit" id="loginButton">Login</button>
    <button type="button" href="/signup">Register An Account</button>
</div>

<script src="/js/login.js"></script>