<div>
    <div>
        <h2>Sign Up</h2>
    </div>
    <div class="mb-3">
        <label for="usernameRegister" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameRegister">
    </div>
    <div class="mb-3">
        <label for="passwordRegister" class="form-label">Password</label>
        <input type="password" id="passwordRegister" rows="3">
    </div>
    <button type="submit" id="signUpButton">Sign Up</button>
</div>

<script src="/js/login.js"></script>